body{
    background: linear-gradient(to right,#74ebd5,#ACB6E5);
    font-family: Arial, sans-serif;
}

.container{
    width:80%;
    margin:auto;
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:10px;
}

h1{
    text-align:center;
    color:navy;
}

.card{
    background:#f4f4f4;
    padding:15px;
    margin:10px;
    border-radius:10px;
}

button{
    background:navy;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:5px;
}

a{
    text-decoration:none;
}